<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golflearn.mapper.LessonLineMapper">
  <select id="selectById" resultType="LessonLine" parameterType="string">
    SELECT ll.lsn_line_no 레슨내역번호, le.lsn_no 레슨번호, le.lsn_title 레슨명, ll.lsn_exp_dt 종료일자,
        ll.stdt_lsn_status 레슨진행상태, lr.my_star_score 내가준별점
        ,(SELECT COUNT(lsn_chk_dt) FROM lesson_history WHERE lsn_line_no=ll.lsn_line_no ) 레슨진행횟수
        ,le.lsn_cnt_sum 총레슨횟수  
	FROM lesson_line ll JOIN lesson le ON (ll.lsn_no = le.lsn_no)
                    LEFT JOIN lesson_review lr ON(ll.lsn_line_no = lr.lsn_line_no)
	WHERE ll.user_id = #{userId}
	ORDER BY ll.lsn_line_no
  </select>
  <select id="selectByProId" resultType="Lesson" parameterType="string">
  	SELECT lsn_no, lsn_title, lsn_status
	FROM lesson
	WHERE user_id = #{userId}
  </select>
  <select id="selectTypeById" resultType="int" parameterType="string">
  	SELECT user_type
	FROM user_info
	WHERE user_id = #{userId}
  </select>
</mapper>